@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  h1 {
    @apply text-5xl mb-2;
  }
  h2 {
    @apply text-3xl mb-2;
  }
  h3 {
    @apply text-xl mb-2;
  }
  h4 {
    @apply text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav header {
  max-width: none !important;
}

.text-shadow {
  text-shadow: 0px 0px 5px #729cef;
}